@charset "utf-8";


h1.heading {
  font-size: 20px;
  text-align: center;
}

h2.heading {
  background-color: #535c68;
  border-bottom: 1px solid #eee;
  color: #eee;
  font-size: 20px;
  margin: 0;
  padding: 16px 48px 16px 16px;
  position: relative;
}

h3.heading {
  background-color: #95afc0;
  border-bottom: 1px solid #eee;
  color: #333;
  font-size: 20px;
  margin: 0;
  padding: 16px 48px 16px 16px;
  position: relative;
}

h4.heading {
  border: 1px solid #333;
  color: lawngreen;
  margin: 0;
  padding: 10px;
}

h5.heading {
  border: 1px solid #333;
  color: purple;
  margin: 0;
  padding: 10px;
}




section {
  padding: 0;
}

.h2content {
  background-color: #fff;
}

.h3content {
  background-color: #fff;
  padding: 0 10px 10px 10px;
}

.hide {
  display: none;
}
