@media screen and (max-width: 959px) {
    footer {
        background-color: #333;
        padding: 20px 0 20px 0;
        text-align: center;
        width: 100%;
    }

    footer a {
        color: #fff;
        text-decoration: none;
    }
}

@media screen and (min-width: 960px) {
    footer {
        background-color: #333;
        bottom: 0;
        padding: 20px 0 20px 0;
        position: fixed;
        text-align: center;
        width: 100%;

        a {
            color: #fff;
            text-decoration: none;
            transition: color 0.2s ease-in-out;

            &:hover {
                color: #b2bec3;
            }
        }
    }
}
