.loadingLayer {
  background-color: #eee;
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 1s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 20;
}

.loadingLayer.active {
  opacity: 1;
  visibility: visible;
}

.loadingIconBox {
  height: 100px;
  position: fixed;
  top: 40vh;
  width: 100px;
}

.loadingIcon {
  height: 100px;
  position: fixed;
  top: 40%;
  width: 100px;
}

@mixin loadingBar {
  background-color: #1c5880;
  display: block;
  height: 50%;
  position: absolute;
  top: 25%;
  transform: scaleY(1);
  width: 16%;
}

@keyframes loadingbarAnimation {
  0% {
    transform: scaleY(1);
  }

  25% {
    transform: scaleY(2);
  }

  50% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(1);
  }
}

.loadingBar1 {
  @include loadingBar;
  animation: loadingbarAnimation 1.4s infinite ease-in-out;
  left: 0%;
}

.loadingBar2 {
  @include loadingBar;
  animation: loadingbarAnimation 1.4s 0.1s infinite ease-in-out;
  left: 21%;
}

.loadingBar3 {
  @include loadingBar;
  animation: loadingbarAnimation 1.4s 0.2s infinite ease-in-out;
  left: 42%;
}

.loadingBar4 {
  @include loadingBar;
  animation: loadingbarAnimation 1.4s 0.3s infinite ease-in-out;
  left: 64%;
}

.loadingBar5 {
  @include loadingBar;
  animation: loadingbarAnimation 1.4s 0.4s infinite ease-in-out;
  left: 86%;
}
