@media screen and (max-width: 959px) {

  .topHeader {
    width: 100%;
    overflow: hidden;
    padding: 0 20px 4px;
    filter: drop-shadow(0px 0px 1px #333);
    box-shadow: 1px 2px 10px -5px;
    box-sizing: border-box;

    a {
      display: inline-block;

      h1 {
        width: 100px;
        margin: 0;


        img {
          width: 100%;
        }

      }

    }

  }

  .topMain {
    background-color: #f1f2f6;
    overflow: hidden;
  }

  .topContainer {
    width: 100%;
    margin: 0;
  }

  .top__introduce {
    font-size: 1rem;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
  }

  .top__categoryGroup {
    list-style-type: none;
    padding-left: 0px;
    margin: 0;
  }

  .top__categoryMember {}

  .top__categoty__heading {
    font-weight: bold;
    font-size: 1.6rem;
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 0;
  }

  .top__equipmentGroup {
    padding-left: 0;
  }

  .top__equipmentMember {
    padding: 20px;
    display: flex;
    border-bottom: 1px solid #fff;
    background-color: #eee;
    background-image: url(/img/icon/arrow.svg);
    background-size: 20px;
    background-position: right 10px center;
    background-repeat: no-repeat;

  }

  .top__equipmentlink {
    display: block;
    text-decoration: none;



  }

  .top__equipmentName {
    color: #333;
    vertical-align: middle;
    height: 100%;
    font-size: 1.4rem;
    padding-left: 10px;
    margin: 0;
  }



  .nolink {
    pointer-events: none;

    .top__equipmentMember {
      background-image: none;
    }

  }

  .top__equipmentPicture {
    width: 40px;
    height: 40px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #333;

    img {
      width: 100%;
      height: 100%;
    }

  }

}



header h1 a {
  text-decoration: none;
}

@media screen and (min-width: 960px) {

  .topHeader {
    width: 100%;
    overflow: hidden;
    padding: 0 20px 4px;
    filter: drop-shadow(0px 0px 1px #333);
    box-shadow: 1px 2px 10px -5px;
    box-sizing: border-box;

    a {
      display: inline-block;


      h1 {
        width: 200px;
        margin: 10px 0 0;


        img {
          width: 100%;
        }
      }

    }

  }

  .topMain {
    background-color: #f1f2f6;
    overflow: hidden;
  }

  .topContainer {
    width: 1140px;
    margin: 40px auto 0;
  }

  .top__introduce {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .top__categoryGroup {
    list-style-type: none;
    padding-bottom: 80px;
    padding-left: 0px;

  }

  .top__categoryMember {
    padding-top: 40px;
  }

  .top__categoty__heading {
    font-weight: bold;
    font-size: 2rem;
    border-bottom: 2px solid #333;
    margin: 0;
  }

  .top__equipmentGroup {
    padding-left: 0;
    margin-top: 20px;
  }

  .top__equipmentMember {
    display: inline-block;
  }

  .top__equipmentlink {
    display: inline-block;

  }

  .top__equipmentName {
    color: #333;
    transition: color 0.2s ease-in-out;
    margin: 0;
  }


  .top__equipmentlink+.top__equipmentlink {
    margin-left: 36px;
  }

  .nolink {
    pointer-events: none
  }

  .top__equipmentPicture {
    width: 160px;
    height: 160px;
    overflow: hidden;
    box-sizing: border-box;
    border: 4px solid #333;

    img {
      transition: transform 0.2s ease-in-out;
      width: 100%;
      height: 100%;
    }

  }

  .top__equipmentlink:hover {

    .top__equipmentPicture img {
      transform: scale(1.2);
    }

    .top__equipmentName {
      color: #b2bec3;
    }

  }

}
