@media screen and (max-width: 959px) {
  .topHeader {
    box-shadow: 1px 2px 10px -5px;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 1px #333);
    overflow: hidden;
    padding: 0 20px 4px;
    width: 100%;

    a {
      display: inline-block;

      h1 {
        margin: 0;
        width: 100px;

        img {
          width: 100%;
        }
      }
    }
  }

  .topMain {
    background-color: #f1f2f6;
    overflow: hidden;
  }

  .topContainer {
    margin: 0;
    width: 100%;
  }

  .top__introduce {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
  }

  .top__categoryGroup {
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
  }

  .top__categoty__heading {
    background-color: #333;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
    padding: 20px;
  }

  .top__equipmentGroup {
    padding-left: 0;
  }

  .top__equipmentMember {
    background-color: #eee;
    background-image: url(/img/icon/arrow.svg);
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 20px;
    border-bottom: 1px solid #fff;
    display: flex;
    padding: 20px;
  }

  .top__equipmentlink {
    display: block;
    text-decoration: none;
  }

  .top__equipmentName {
    color: #333;
    font-size: 1.4rem;
    height: 100%;
    margin: 0;
    padding-left: 10px;
    vertical-align: middle;
  }

  .nolink {
    pointer-events: none;

    .top__equipmentMember {
      background-image: none;
    }
  }

  .top__equipmentPicture {
    border: 1px solid #333;
    box-sizing: border-box;
    height: 40px;
    overflow: hidden;
    width: 40px;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

header h1 a {
  text-decoration: none;
}

@media screen and (min-width: 960px) {
  .topHeader {
    box-shadow: 1px 2px 10px -5px;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 1px #333);
    overflow: hidden;
    padding: 0 20px 4px;
    width: 100%;

    a {
      display: inline-block;

      h1 {
        margin: 10px 0 0;
        width: 200px;

        img {
          width: 100%;
        }
      }
    }
  }

  .topMain {
    background-color: #f1f2f6;
    overflow: hidden;
  }

  .topContainer {
    margin: 40px auto 0;
    width: 1140px;
  }

  .top__introduce {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .top__categoryGroup {
    list-style-type: none;
    padding-bottom: 80px;
    padding-left: 0px;
  }

  .top__categoryMember {
    padding-top: 40px;
  }

  .top__categoty__heading {
    border-bottom: 2px solid #333;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }

  .top__equipmentGroup {
    margin-top: 20px;
    padding-left: 0;
  }

  .top__equipmentMember {
    display: inline-block;
  }

  .top__equipmentlink {
    display: inline-block;
  }

  .top__equipmentName {
    color: #333;
    margin: 0;
    transition: color 0.2s ease-in-out;
  }

  .top__equipmentlink + .top__equipmentlink {
    margin-left: 36px;
  }

  .nolink {
    pointer-events: none;
  }

  .top__equipmentPicture {
    border: 4px solid #333;
    box-sizing: border-box;
    height: 160px;
    overflow: hidden;
    width: 160px;

    img {
      height: 100%;
      transition: transform 0.2s ease-in-out;
      width: 100%;
    }
  }

  .top__equipmentlink:hover {
    .top__equipmentPicture img {
      transform: scale(1.2);
    }

    .top__equipmentName {
      color: #b2bec3;
    }
  }
}
